/* Global CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --footer-height: 180px;
}

html {
  font-size: 20px;
  line-height: 1.5;
  margin: auto;
}

body {
  margin: 0 auto;
  font-family: 'Fira Sans', sans-serif;
  max-width: 1080px;
  background-color: white;
  padding-bottom: var(--footer-height);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2c7da0;
  margin-bottom: 1rem;
}

h4 {
  font-size: 2rem;
  font-weight: 200;
  letter-spacing: 1rem;
  text-transform: uppercase;
  margin-top: 2rem;
}

h5 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 1rem;
  margin-bottom: 0rem;
}

h1 + p,
h2 + p,
h3 + p,
h4 + p,
h5 + p,
h6 + p {
  margin-top: 0;
}

h4 + .columns > div > h5:first-child {
  margin-top: 0;
}

td {
  padding-right: 20px;
}
td:last-child {
  padding-right: 0;
}

p {
  margin-top: 1rem;
}

a {
  text-decoration: none;
  color: #2c7da0;
}

ul {
  list-style: none;
}

/* Header CSS */
.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 20px 0px 20px;
  width: 100%;
  height: fit-content;
}

.header-container h1 {
  font-weight: 100;
  font-size: 4rem;
  letter-spacing: 0.5rem;
  margin-bottom: 0px;
  text-transform: uppercase;
}

.header-container h2 {
  font-family: 'Dancing Script', cursive;
  margin-top: -4.5rem;
  font-weight: 700;
  font-size: 6rem;
  margin-left: 4rem;
  color: rgb(134, 196, 223);
  white-space: nowrap;
}

.navbar {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-end;
}

.nav-links {
  list-style: none;
  display: none;
}

.hamburger {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: #2c7da0;
}

.nav-links.active {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 150px;
  background: white;
  padding: 1rem;
  width: fit-content;
  gap: 0.5rem;
  border: 1px solid #2c7da0;
}

/* Main Content CSS */
.main-container {
  flex: 1;
  flex-direction: row;
  margin: 20px 20px;
}

.page-photo-container {
  width: 100%;
  height: 420px;
  border: #2c7da0 3px solid;
  padding: 9px;
  background: white;
  box-sizing: border-box;
  overflow: hidden;
}

.page-photo-container img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.columns {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.columns div {
  width: 50%;
}

/* Footer CSS */
.footer-container {
  font-size: 14px;
  position: fixed;
  bottom: 0;
  margin-bottom: 20px;
  margin-left: 20px;
  padding: 7px 10px 20px 10px;
  background-color: rgb(92, 152, 180);
  border-top: 6px double white;
  width: 100%;
  max-width: 1040px;
  height: var(--footer-height);
}

.footer-container h2,
.footer-container h3 {
  font-weight: 500;
  color: #ffffff;
}

.weather-cards {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 20px;
  width: 100%;
  overflow: hidden;
}

.weather-cards h3 {
  margin-bottom: 0px;
}

.weather-cards img {
  height: 20px;
  vertical-align: bottom;
}

.weather-cards p {
  margin-top: 0px;
  color: #ffffff;
}
#oneDayCardEl {
  padding: 0px 10px 5px 10px;
  border: 1px solid #ffffff;
  color: #ffffff;
}

#fiveDayCardsEl {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.fiveDayCard {
  padding: 10px;
  width: calc(100% / 5);
}

.fiveDayCard:nth-child(odd) {
  background-color: rgb(59, 133, 167);
}

.copyright {
  margin-top: 0px;
  color: #ffffff;
  text-align: right;
}

/* Map Page CSS */
.map-page-photo-container img {
  max-width: 100%;
  max-height: 100%;
}

/* Calendar Page CSS */
iframe {
  width: 100%;
  height: 600px;
}
