/* Global CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  font-size: 20px;
  line-height: 1.5;
  margin: auto;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  font-family: 'Fira Sans', sans-serif;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 1080px;
  background-color: white;
}

/* Header CSS */
.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 20px 0px 20px;
  width: 100%;
  height: fit-content;
}

.header-container h1 {
  font-weight: 100;
  font-size: 4rem;
  letter-spacing: 0.5rem;
  margin-bottom: 0px;
  text-transform: uppercase;
}

.header-container h2 {
  font-family: 'Dancing Script', cursive;
  margin-top: -4.5rem;
  font-weight: 700;
  font-size: 6rem;
  margin-left: 4rem;
  color: rgb(134, 196, 223);
  white-space: nowrap;
}

.navbar {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-end;
}

.nav-links {
  list-style: none;
  display: none;
}

.hamburger {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: #2c7da0;
}

.nav-links.active {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 150px;
  background: white;
  padding: 1rem;
  width: fit-content;
  gap: 0.5rem;
  border: 1px solid #2c7da0;
}

/* Main Content CSS */
.main-container {
  flex: 1;
  margin: 0px 20px;
}

.page-photo-container {
  width: 100%;
  height: 40%;
  overflow: hidden;
  border: #2c7da0 3px solid;
  padding: 9px;
}

.page-photo-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2c7da0;
  margin-bottom: 1rem;
}

h4 {
  font-size: 1.75rem;
  margin-top: 2rem;
}

h5 {
  font-size: 1.5rem;
  font-weight: 400;
}

p {
  margin-top: 1rem;
}

a {
  text-decoration: none;
  color: #2c7da0;
}

ul {
  list-style: none;
}

/* Footer CSS */
.footer-container {
  font-size: 14px;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px 20px;
  width: 1040px;
  max-width: 100%;
  background-color: rgb(92, 152, 180);
}

.footer-container h2,
h3 {
  font-weight: 500;
  color: #ffffff;
}

/* .footer-container ul {
  list-style: none;
} */

.weather-cards {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 20px;
  width: 100%;
  overflow: hidden;
}

.weather-cards h3 {
  margin-bottom: 0px;
}

.weather-cards img {
  height: 20px;
  vertical-align: bottom;
}

.weather-cards p {
  margin-top: 0px;
  color: #ffffff;
}
#oneDayCardEl {
  padding: 0px 10px 5px 10px;
  border: 1px solid #ffffff;
  color: #ffffff;
}

#fiveDayCardsEl {
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}

.fiveDayCard {
  padding: 10px;
}

.fiveDayCard:nth-child(odd) {
  background-color: rgb(59, 133, 167);
}

/* Map Page CSS */
.map-page-photo-container img {
  max-width: 100%;
  max-height: 100%;
}

/* Calendar Page CSS */
.calendar-container {
  position: relative;
  width: 100%;
  padding-bottom: 75%;
  height: 0;
  margin-top: 1rem;
}

.calendar-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

iframe {
  width: 100%;
  height: 100%;
  margin-bottom: 200px;
}
