* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px;
}
body {
  margin: 20px;
  padding-top: 150px;
  font-family: 'Fira Sans', sans-serif;
  background-image: url('../images/florida-sunset.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.header-container {
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
  width: 100%;
  height: 150px;
  background-color: white;
}

.header-container h1 {
  font-size: 2rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  list-style: none;
  display: none;
}

a {
  text-decoration: none;
  color: #2c7da0;
}

.hamburger {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: #2c7da0;
}

.nav-links.active {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 70px;
  right: 1rem;
  background: white;
  padding: 1rem;
  width: 200px;
  gap: 1rem;
}
section:first-of-type {
  margin-top: 120px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2c7da0;
  margin-bottom: 1rem;
}

p {
  margin-top: 10px;
}

.footer-container {
  font-size: 14px;
  position: fixed;
  bottom: 0;
  padding: 10px;
  min-width: 100%;
  background-color: rgb(44, 125, 160, 0.8);
}

.footer-container h2,
h3 {
  font-weight: 500;
  color: #ffffff;
}

.footer-container ul {
  list-style: none;
  line-height: 1.5;
}

.weather-cards {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 20px;
  width: 100%;
  overflow: hidden;
}

.weather-cards h3 {
  margin-bottom: 0px;
}

.weather-cards img {
  height: 40px;
}

.weather-cards p {
  margin-top: 0px;
  color: #ffffff;
}
#oneDayCardEl {
  padding: 0px 10px 5px 10px;
  border: 1px solid #ffffff;
  color: #ffffff;
}

#fiveDayCardsEl {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}

.fiveDayCard {
  padding: 10px;
}

.fiveDayCard:nth-child(odd) {
  background-color: rgb(44, 125, 160, 0.7);
}
